.box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:5rem;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}
.list{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;
    width: 90%;
    height: 80%;
}
.img{
    width: 150px;
}
.btn{
    width: 20px;
    margin: 0 3px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(201, 201, 201);
}
.btn:active{
    color: red;
}
.btnvalue{
    width: 40px;
    color: white;
    border: none;
    background-color: rgb(105, 93, 72);
}
.removeBtn{
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.removeBtn:hover{
    background-color: skyblue;
}
.totalPrice{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0;
}



@media screen and (max-width:500px) {
    .list{
        display: flex;
        width:99%;
        margin: 0.3rem 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(194, 55, 55);
        border-radius: 5px;
    }
    .img{
        width: 100%;
        border: 2px solid grey;
    }
    .removeBtn{
        width: 99%;
        margin: 0.4rem 0;
    }
    
}