.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: rgb(251, 209, 141);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.a{
    text-decoration: none;
    position: relative;
    display: inline;
    color: rgb(31, 9, 9);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 10;
    background-color: rgb(47, 22, 22);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: -10px;
    left: 36px;
}